:root {
    --azul: #000b1b;
    --azulmedio: #203359;
    --verde1: #25a35b;
    --laranja: #f54a0f;
    --bordo: #d9083c;
  
    --gap: 3rem;
    --font1: Roboto, Arial, sans-serif;
  
  
    --grad2: radial-gradient(circle at 10% 20%, var(--azulmedio), var(--azul));
    --grad1: linear-gradient(90deg, var(--azul), var(--azulmedio), var(--azul));
  
  }
  
  .h2-home {
    margin: 0;
    text-align: center;
    width: 100%;
    color: var(--verde1);
    font-size: 1.5rem;
  }
  
  h3 {
    text-align: center;
    width: 100%;
    color: white;
    font-size: 1.3rem;
  }
  
  p {
    text-align: inherit;
    color: white;
    font-size: 1rem;
  }
  
  ul {
    margin: 1rem 0;
    padding-left: 1.5rem;
  }
  
  ul li {
    margin-bottom: 0.5rem;
    color: white;
  }
  
  
  .chamada-acao1 {
    display: flex;
    justify-content: center;
    align-items: center;
  
    
  }

  .chamada-acao1 p {
    color: var(--verde1);
  }
  
  .btn {
    flex: 0 0 auto;
    /* Garante que os itens não encolham */
    align-items: center;
    gap: 10px;
    background: var(--verde);
    padding: 10px;
    margin: auto 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;        
    text-decoration: none;
    width: 200px;
    text-align: center;
  
  }
  
  
  .carrossel-wrapper {
    height: 50px;
    overflow: hidden;
    /* Oculta os itens fora da viewport */
    width: 100%;
    display: flex;
    margin: 0px;
    
  }
  
  .carrossel {
    display: flex;
    height: 30px;

    gap: 2rem;
    animation: marquee 80s linear infinite;
    /* Animação para movimento infinito */
  }
  
  .carrossel-volta {
    display: flex;
    height: 30px;
    gap: 2rem;
    animation: marquee2 60s linear infinite;
    /* Animação para movimento infinito */
  }
  
  .carrossel-item {
    flex: 0 0 auto;
    /* Garante que os itens não encolham */
    display: flex;
    align-items: center;
    gap: 10px;
    /*background: var(--grad1);*/
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .carrossel-item:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .carrossel-text {
    
    font-size: 1rem;
    font-weight: bold;
    color: var(--azulmedio);
  }
  
  @keyframes marquee {
    from {
      transform: translateX(0);
      /* Começa do início */
    }
  
    to {
      transform: translateX(-100%);
      /* Move até o final */
    }
  }
  
  @keyframes marquee2 {
    from {
      transform: translateX(-100%);
      /* Começa do início */
    }
  
    to {
      transform: translateX(0);
      /* Move até o final */
    }
  }
  
  
  
  /* CSSS flexbox */
  
  
  
  .flex-div {
    border-radius: 20px;
    display: flex;
    width: 330px;
    justify-content: space-between;
    margin: 30px 10px 10px 10px;
    height: 230px;
    /*background: var(--grad2);*/
    align-items: center;
    position: relative;
    box-shadow: 0 0 20px rgba(182, 241, 208, 0.3);
    /*box-shadow: 0 0 20px rgba(37, 163, 91, 0.5);*/
    border: 0.1px solid var(--verde1);
  }
  
  #div-icon {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    padding: 0px;
    background: var(--azul);
    box-shadow: 0 0 8px rgba(37, 163, 91, 0.5);
    transition: top 0.2s ease; /* Transição suave ao rolar */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon {
    width: 40px;
    height: 40px;
   /* vertical-align: middle;*/
   
  }
  
  .flex-div p {
    text-align: center;
    padding: 15px;
    padding-left: 30px;
  }